In [14]:
import pandas as pd
#Display the third column
df= pd.read_csv('C:\\Users\\STEVE\\movies\\movies_metadata.csv', encoding= 'latin-1')
df.loc[[2]] #or df[2:3]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0

In [15]:
#Display number of rows and number of columns in the DataFrame

df.shape

(50, 24)